* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
}

.app__div_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  background-color: #FAFAFA;
}

.app__h1_welcome {
  margin-top: 1em;
  display: center;
  background-color: #FAFAFA;
}