* {
    box-sizing: border-box;
    font-family: "Inter"
}

body {
    margin: 0;
    background-image: linear-gradient(to bottom right, #31b455, #04A5E3);
    background-color: #f3f1f1;
}

.app__div_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    background-color: #FAFAFA;
}

.app__h1_welcome {
    margin-top: 1em;
    display: center;
    background-color: #FAFAFA;
}