* {
  box-sizing: border-box;
  font-family: "Inter"
}

body {
  margin: 0;
  background-color: #f3f1f1;
}

.app__flashcardlist_container {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  margin-bottom: 15%;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 3px solid #31b455;
  box-shadow: 0 0 5px 2px #00a6e3;
}

.app__div_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  background-color: #FAFAFA;
}

.app__h1_welcome {
  margin-top: 1em;
  display: center;
  background-color: #FAFAFA;
}