.article__box {
    border: 3px solid #31b455;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height: 200px;
    width: 200px;
    overflow: auto;
    border-radius: 3px;
    background-color: #f3f1f1;
    padding: 5px;
    /* transform-style: preserve-3d; */
    /* height: 200px; */
    /* width: 200px; */
    /* transition: 500ms; */
    /* cursor: pointer; */
    /* transform: perspective(1000px)rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0)); */
}