.box {
    border: 3px solid #31b455;
    margin-right: 1.4rem;
    margin-left: 2.3rem;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0.25rem;
    box-shadow: 0 0 5px 2px #00a6e370;
    background-color: white;
    transform-style: preserve-3d;
    width: 200px;
    transition: 500ms;
    cursor: pointer;
    transform: perspective(1000px)rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
    left: 0;
    /* position: absolute; */
    padding: 1rem;
    backface-visibility: hidden;
}

.box:hover {
    --translate-y: -5px;
    box-shadow: 0 0 10px 5px #00a6e3;
}


